
.calendar-container {
    display: flex;
    flex-direction: row;
  }
  
  .calendar-wrapper {
    flex: 1; 
    margin-right: 20px; 
  }
  

.birthday-list-wrapper {
    width: 350px; 
    margin-right: 0; 
    margin-left: auto; 
    overflow-y: auto; 
    max-height: 300px; 
  }
  
  .favorite-birthdays-list {
    max-height: 200px; 
    overflow-y: auto;
    list-style: none; 
    padding-left: 0; 
    
    border-bottom: 1px solid #ccc; 
  padding-bottom: 8px; 
  margin-bottom: 16px; 
  }

  
  .favorite-birthdays-list li {
    padding: 8px 0; 
  }
  
  
  