/* src/components/BirthdayList.css */

.birthday-list-container {
  margin-top: 20px;
}

.birthday-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minimum width of each grid item */
  gap: 20px; /* Adjust the gap between grid items */
  max-height: 400px; /* Set a maximum height for the grid */
  overflow-y: auto; /* Enable vertical scrolling */
}

.birthday-item {
  border: 1px solid #ccc;
  padding: 10px;
}
